body{
    margin: 0;
}
/* Сховати панель за замовчуванням */
.nav__content {
    display: none;
}
/* Відображення панелі при кліку на кнопку */
.nav.open .nav__content {
    display: block;
}
.info-block{
    height: auto;
    line-height: auto;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    float: left;
    background: url(/img/bk2.webp) center center repeat;
    background-size: auto auto;
}
.info-block.footer {
    background: url(/img/bk3.webp) left top repeat;
    background-size: auto auto;
    margin-top: -90px;
    padding-top: 50px;
}
.nav__content {
    background: url("/img/bk2.webp") center center repeat;
    position: fixed;
    top: 50%;
    transform: translate(0%,-50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
}

.nav__list-item a {
    font-size: 52px;
    line-height: 62px;
    font-family: 'YanoneKaffeesatzR';
    color: #000;
}
.modal-content .logo-wrapper {
    width: 100%;
    float: left;
}
.modal-content .logo-wrapper img {
    width: 152px;
    position: relative;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 1!important;
}